/*CSS document*/

@import url("https://use.typekit.net/mhk2sut.css");
body {}

div.container {
	max-width: 80em;
	margin: auto;
}

div.main {
	max-width: 80em;
	margin: auto;
}

section {
	max-width: 40em;
	margin-bottom: 0 auto 3m;
}

section.main {
	max-width: 40em;
	margin-bottom: 0 auto 3em;
}

section.mainstory {
	max-width: 54em;
}

section.tertiary {
	margin-bottom: 2em;
}

figure {
	margin: 0;
}

img {
	width: 100%;
	margin-bottom: 1em;
}

nav ul li {
	display: inline;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin: 1em 3em 3em 0em;
}

nav ul li a {
	color: #777777;
	text-decoration: none;
}

ol {
	margin-bottom: 2em;
}

ol li {
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 2em;
}

ul.indent {
	margin-left: 1.5em;
}

ul.indent li {
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

li {
	font-family: sofia-pro, sans-serif;
	font-weight: 800;
	font-style: normal;
}

h1 {
	width: 6em;
}

h2 {
	font-family: sofia-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #ee7674;
}

h3 {
	font-family: sofia-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #ee7674;
}

p {
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-bottom: 2em;
}

p a {
	color: #000000;
}

section a {
	color: #000000;
	text-decoration: none;
}

figcaption {
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 3em;
}

body {
	background-color: #fbf5f1;
}

aside {
	max-width: 26em;
}

@media screen and (min-width: 60em) {
	div.container {
		display: grid;
		grid-template-columns: 3fr 2fr;
		grid-gap: 0 1em;
	}
	div.main {
		display: grid;
		grid-template-columns: 2fr 1.75fr;
		grid-gap: 0 1em;
	}
	header {
		grid-column: 1/3;
	}
	main {
		grid-column: 1/3;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1em;
	}
	section.mainstory {
		grid-column: 1/3;
		grid-row 1/3;
	}
	aside {
		grid-column: 2/3;
	}
	footer {
		grid-column: 1/3;
	}
}
